:root {
  --green: #38ccae;
  --dark: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  background: linear-gradient(to right top, var(--dark), var(--green));
  overflow: hidden;
}

.container {
  height: 70%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right top, rgba(0 , 0, 0 ,0.75), rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  position: relative;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.main__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__photo img {
  width: 50%;
  border: solid black 3px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg__img {
  position: absolute;
}

.bg__img--button {
  position: absolute;
  top: 0;
  right: 60%;
  height: 30vh;
  animation: slideDown 8s linear infinite;
}

.bg__img--dots {
  top: 0;
  left: 50%;
  height: 75vh;
  animation: rotate 14s linear infinite;
}

.logo {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: large;

}

@keyframes slideDown {
  from {transform: translateY(-30vh);}
  to {transform: translateY(100vh);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}